html {
    scroll-behavior: smooth;
}
/*Import link for the Josefin Slab font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

html{
    overflow-x: hidden; /*Prevents the browser from
    displaying a left to right scroll bar as a result
    of neagtive margin values*/
}

/*NAVBAR*/
.nav-bar{
    position: sticky; /*Creates a sticky element that stays
    in the same spot in the browser screen*/
    top: 0; /*Tells the browser to stick the element at the 
    top of the page based on user scrolling*/
    z-index: 9; /*Sets the stack layer of the navbar to scroll 
    over all elements*/
}

ul{
    display: flex; /*Creates a file container which will
    expand or shrink elements to fill the space available 
    to them and place the elements side by side horizontally*/
    list-style-type:none; /*Removes the default styling 
    for unordered list elements*/
    align-items: center; 
    margin: -8px -8px 0px -8px; /*The margin order is top,
    right, bottom, and left. The negative margins will stretch 
    the background beyond the edge of the browser screen*/
    background-color: rgb(1, 128, 106); 
    border-bottom: 5px solid rgb(247, 177, 188);
}
a{
    font-family: "Josefin Slab", serif;
    font-size: 25px;
    font-weight: 800;
    color: rgb(247, 177, 188);
    text-align: center;
    width: 100px;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in;
}

a:hover{
    background-color: rgb(149, 238, 223);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease-in
}

.rollover-menu{
    display: none; /*Prevents the anchor linksin this div
    from showing on the web browser until otherwise
    specified*/
    position: absolute; /*Absollute will position the div
    element relative to the position of it parent element*/
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

/*Creates a trigger effect when the user hovers their mouse 
over the. Recipes link. The trigger will display all the elements 
within the rollover-menu class div element*/
.drop:hover .rollover-menu{
    display: block;
}

