/*Import link for the Roboto font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Import link for the mukta font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body{
    background-color:white;
    overflow-x: hidden; /*hides the bottom left right scroll bar when elements stretch beyound the screen border*/ 
}

/*NAVBAR*/

li{
    display: inline;
    padding: 5px;
}

a {
    font-family:  'Roboto', sans-serif; /*Font from fonts.google.com*/
    font-size:  20px;
    font-weight: 700;
    text-shadow: 1px 0.5px 4px   rgba (46, 31, 31, 0.5);
    color:rgb(240, 245, 220);
    padding-top: 10px;
    padding-bottom: 10px;
    /*The following minus margins stretch the nav bar background beyound the web browser screen edge*/
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
    position: sticky; /*creates a sticky element that stays in the same spot in the browser screen/* 
    top: 0; /*Tells the browser to stick the element at the top of the page based on user scrolling*/ 
}

.nav-bar{
    background-color:cornflowerblue;
}

/*creates a line under the Home and Contact links to separate them from the image links*/
#nav-border{
    padding-bottom: 10px;
    border-bottom: 3px solid #ffffff;
}

/*HEADERS*/
h1, h2, h3{
    color:#0a3f63;
    text-align: center;
    font-family: 'Mukta', sans-serif;/*Font from fonts.google.com*/
    text-shadow: 1px 0.5px 4px rgba(0,0,0,0.5);
    margin: 0px;
}

hi{
    font-size: 60px;
    margin-top: 50px;
}

h2{
    font-size: 45px;
    margin-bottom: 20px;
}

h3{
    font-size: 30px;
    margin-top: 20px
}

#contact-h3{
    text-shadow: none;
    /*Creates a text color change animation on the h1 tags for the Home and Contact page headers*/
    @keyframes color-text{
        0%{color: #b5e1ff;}
        100%{color: #0a3f63;}
}

/*Calls the animation by it's name in a CSS so that it can be applied to a specific HTML element*/
.animate-text{
    animation: color-text 4s;
}

/*BODY CONTENT*/

img{
    width: 500px;
    height: 350px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4)
    0 6px 20px 0 rgba(0, 0, 0, 19);
}

.column{
    float: left;
    width: 48%; /*Places the images side by side when the float property is used*/
    padding: 10px;
}

/*Groups elements inside a div element together and forces any floating elements outside of the div under it with this class selector*/
.container{
    background-size: 100% !important;
}